/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}

*::selection {
    background: var(--main-color);
    color: #fff;
}

:root {
    --main-color: #ffb411;
    --text-color: #1e1c2a;
    --bg-color: #fff;
    --big-font: 4rem;
    --h2-font: 2.24rem;
    --p-font: 0.9rem;
}

section {
    padding: 50px 10%;
}

body.active {
    --bg-color: #1e1c2a;
    --text-color: #fff;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

#darkmode {
    font-size: 25px;
    cursor: pointer;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 18px 100px;
    box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.home {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.home-img img {
    width: 100%;
    border-radius: 150px;
}

.home-text h1 {
    font-size: var(--big-font);
    color: var(--main-color);
}

.home-text h2 {
    font-size: var(--h2-font);
    margin: 1rem 0 1rem;
}

.btn2 {
    display: inline-block;
    background: var(--main-color);
    margin: -22px -22px;
    padding: 10px 10px;
    border-radius: 0.5rem;
    color: #fff;
}

.btn {
    display: inline-block;
    background: var(--main-color);
    padding: 10px 20px;
    border-radius: 0.5rem;
    color: #fff;
}

.btn:hover {
    background: #ffa400;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;
}

.about-img img {
    max-width: 80%;
    border-radius: 0.5rem;
}

.about-text span {
    color: var(--main-color);
    font-weight: 500;
}

.about-text h2 {
    font-size: var(--h2-font);
}

.about-text p {
    margin: 0.8rem 0 1.8rem;
}

.heading {
    text-align: center;
}

.heading span {
    color: var(--main-color);
    font-weight: 500;
}

.heading h2 {
    font-size: var(--h2-font);
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    align-items: center;
}

.box {
    position: relative;
    margin-top: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(4 64 54 / 10%);
    padding: 10px;
}

.box-img {
    width: 200px;
    height: 200px;
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.box h2 {
    font-size: 1.2rem;
}

.box h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 10px;
}

.box span {
    font-size: var(--p-font);
    font-weight: 500;
}

.box .bx {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    background: var(--main-color);
    border-radius: 0 0.5rem 0 0.5rem;
    padding: 5px 8px;
}

.box .bx:hover {
    background: #ffa400;
}

.servives-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.s-box {
    text-align: center;
}

.s-box img {
    width: 60px;
}

.s-box h3 {
    margin: 4px 0 10px;
}

.connect {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.connect-text span {
    color: var(--main-color);
    font-weight: 500;
}

.connect-text h2 {
    font-size: var(--h2-font);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
}

.contact-box h3 {
    margin-bottom: 1rem;
}

.social {
    display: flex;
    margin-top: 1.5rem;
}

.social i {
    font-size: 20px;
    margin-right: 1rem;
    color: var(--text-color);
}

.social i:hover {
    color: var(--main-color);
}

.contact-box li a {
    color: var(--text-color);
}

.contact-box li a:hover {
    color: var(--main-color);
}

.address {
    display: flex;
    flex-direction: column;
}

.address i {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.address span {
    margin-left: 1rem;
}

@media (max-width: 921px) {
    header {
        padding: 14px 41px;
    }
     :root {
        --big-font: 3rem;
        --h2-font: 1.7rem;
    }
}

@media (max-width: 768px) {
    section {
        padding: 50px 8%;
    }
    #menu-icon {
        display: initial;
        color: var(--text-color);
    }
    header .navbar {
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: var(--bg-color);
        box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
        transition: 0.2s ease;
    }
    .navbar.active {
        top: 100%;
    }
    .navbar a {
        padding: 1.5rem;
        display: block;
        background: var(--bg-color);
    }
    #darkmode {
        position: absolute;
        top: 1.4rem;
        right: 2rem;
    }
}

@media (max-width: 715px) {
    header {
        padding: 10px 16px;
    }
    .home {
        grid-template-columns: 1fr;
    }
    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img {
        order: 2;
    }
}

@media (max-width: 515px) {
    .connect {
        flex-direction: column;
    }
    .connect .btn {
        margin-top: 1rem;
    }
}

@media (max-width: 450px) {
     :root {
        --big-font: 2rem;
        --h2-font: 1.4rem;
    }
    .home-text {
        padding-top: 4rem;
    }
}

.team-classic-circle {
    text-align: center;
}

@media (min-width: 1600px) {
    .team-classic-circle {
        max-width: 300px;
    }
}

.container-wide {
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
}

.team-classic-title {
    color: #ffb411;
    font-weight: 400;
}

.show-btn{
   background-color: rgba(255,255,255,0.6);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.show-btn, .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
input[type="checkbox"]{
  display: none;
}

.container{
  display: none;
  background: #fff;
  width: 350px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}
#show:checked ~ .container{
  display: block;
}
.container .close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.container .close-btn:hover{
  color: #000;
}
.container .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.container form{
  margin-top: -20px;
}
.container form .data{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}
 
form .data input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
  font-weight: bold;
}
form .data input:focus{
  border-color: orange;
  border-bottom-width: 2px;
}
form .forgot-pass{
  margin-top: -8px;
}
form .forgot-pass a{
  color: #3498db;
  text-decoration: none;
}
form .forgot-pass a:hover{
  text-decoration: underline;
}
form .btn{
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
form .btn .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background: linear-gradient(to right,#014d6f 10%,#2b8e8b);
  transition: all 0.4s;
}
form .btn:hover .inner{
  left: 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
form .signup-link{
  text-align: center;
}
form .signup-link a{
  color: #3498db;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}

.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: var(--main-color); 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: var(--main-color); 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: var(--main-color); 
  border-color: var(--main-color); 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: var(--text-color);
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: var(--text-color);   
}


p{
  font-size: 14px; 
  color: var(--text-color); 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid var(--main-color);
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid var(--main-color);
}

.img{
    width: 150px;
    height: auto;
    margin: auto;
    display: inline;
    border-radius: 50%;
    box-shadow: 5px 5px 7px black;
    padding:  10px;
}
.hijo{
    flex-direction: column;
    display: inline-block;
    justify-content:space-around;
    align-items: center;
    margin: 11%;
    height: 5vh;
}
p{
    text-align: center;
    font-family: sans-serif;
}
h2{
    text-align: center;
}

p.clasificacion {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-size: 30px;
}

p.clasificacion input {
  position: absolute;
  top: -100px;
}

p.clasificacion label {
  float: right;
  color: #333;
}

p.clasificacion label:hover,
p.clasificacion label:hover ~ label,
p.clasificacion input:checked ~ label {
  color: #dd4;
}